<!-- Footer -->
<footer id="footer" class="dark bg-secondary border-top pb-60">

	<div class="container text-center">
		<img src="assets/img/logo-sm.png" alt="Okno" class="mb-20">
		<div class="text-muted mb-30">Copyright Dikw 2017©. All rights reserved.</div>
		<a href="#" class="icon icon-circle icon-facebook icon-xs"><i class="fa fa-facebook"></i></a>
		<a href="#" class="icon icon-circle icon-twitter icon-xs"><i class="fa fa-twitter"></i></a>
		<a href="#" class="icon icon-circle icon-google-plus icon-xs"><i class="fa fa-google-plus"></i></a>
	</div>

</footer>
