<%= render 'topbar' %>

<!-- Content -->
<div id="content">

	<!-- Section / Home -->
	<section id="home" class="protrude dark bg-primary pb-0">

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-push-2">
					<!-- <h2 class="text-center mt-40 mb-50">Integrated &amp; Develope your e-commerce website with Big-data </h2> -->

					<h1 class="text-center mt-50 mb-30 th-font big-sz">เราทำ Digital Marketing DATA ให้เป็น Wisdom ทางธุรกิจ</h1>
					<h3 class="text-center mb-60 th-font upper-sz">เปลี่ยน DATA ที่เข้าใจยาก และ ไม่ตอบโจทย์ทางธุรกิจ ให้เป็น Analytical Information ที่รวดเร็ว ไม่ต้องใช้ Web Analyst หลายๆคน เพื่อเตรียมข้อมูล และ สามารถตอบโจทย์ คำถาม หรือ Executive Summary ได้อย่างรวดเร็ว พร้อมใช้งาน </h3>
					<div class="row mb-60" data-target="local-scroll">
            <a href="#features" class="btn btn-white btn-filled btn-block btn-centric th-font upper-top-sz">ศึกษาเพิ่มเติม</a>
						<!-- <div class="col-sm-6 push-md-3">
							<a href="#features" class="btn btn-white btn-filled btn-block">Read more <i class="i-after ti-download"></i></a>
						</div> -->
						<!-- <div class="col-sm-6">
							<a href="#features" class="btn btn-link btn-block">Read more <i class="i-after ti-arrow-down"></i></a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<img src="assets/img/photos/app_screen01.png" alt="" class="push-down-50 animated" data-animation="fadeInUp">
			</div>
		</div>

	</section>

	<!-- Section / Features -->
	<section id="features" class="bg-secondary pt-160 dark">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-bolt"></i></span>
						<div class="feature-content">
							<h5>Ultra-High Speed</h5>
							<p class="mb-0 text-muted th-font medium-sz">ทำรายงานได้เร็วมากๆ พร้อมใช้งานได้หลายมิติ</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-mouse"></i></span>
						<div class="feature-content">
							<h5>Analytical Reports</h5>
							<p class="mb-0 text-muted  th-font medium-sz">ไม่ถูกหลอกด้วยกราฟ เปลี่ยน Actual DATA เป็น ข้อมูลที่ถูกวิเคราะห์ มาอย่างฉลาดแล้ว</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-calendar"></i></span>
						<div class="feature-content">
							<h5>Real Experience Modules</h5>
							<p class="mb-0 text-muted th-font medium-sz">งานยากๆ จะง่ายขึ้น เราใช้ผู้มีประสบการณ์ การวิเคราะห์ user behavior ในการสร้าง Module ที่เหมาะสม</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-files"></i></span>
						<div class="feature-content">
							<h5>Useful Template</h5>
							<p class="mb-0 text-muted th-font medium-sz th-font medium-sz">Information Ready use พร้อมใช้งานสำหรับ ทุกหน่วยงานในองค์กร ตั้งแต่ผู้บริหาร ไปจนถึงเด็กฝึกงาน</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-comments"></i></span>
						<div class="feature-content">
							<h5>JIT Expert Support</h5>
							<p class="mb-0 text-muted th-font medium-sz">เครื่องมือที่ดี ต้องมี Expert เดินหน้างาน สอนองค์กรตลอด เพื่อความลึก และ Wisdom ที่ได้เป็น Real Value</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-2">
						<span class="icon icon-primary icon-sm"><i class="ti-files"></i></span>
						<div class="feature-content">
							<h5>Reduce Cost and Time Consume</h5>
							<p class="text-muted th-font medium-sz">ทำงานได้เทียบเท่า Web Analyst 9 คน และประหยัดต้นทุนได้ 18.64 ล้านบาท ต่อปี</p>
							<!-- <a href="#" class="btn btn-primary btn-filled btn-xs">Read more</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section / Edge -->
	<section id="about" class="section-image-edge">
		<div class="col-md-6 col-md-push-6 image">
			<img src="assets/img/photos/app_screen01.jpg" alt="" class="shadow mb-40 animated" data-animation="fadeInRight">
		</div>
		<div class="container">
			<div class="col-lg-4 col-md-5 content" data-target="local-scroll">
				<h1 class="th-font extra-sz">Solution ที่คุ้มค่ากว่า </h1>
				<p class="lead th-font medium-sz" style="margin-top: -20px; color: grey;">
					ด้วยเครื่องมือวิเคราะห์พฤติกรรมผู้ใช้งาน DIKW Analytics
				</p>
				<p class=" th-font medium-sz">เชิญศึกษาเพิ่มเติม เกี่ยวกับ ประโยชน์ของ Package ตัวนี้ เพื่อทำความเข้าใจและพิจารณาถึงสิ่งที่จะได้รับ จากการใช้งานเครื่องมือตัวนี้</p>
				<strong>Palawast Jeam-saard</strong> - CEO of company
				<div><img src="assets/img/sign.svg" class="img-rounded mt-30 mb-30" alt=""></div>
				<a href="#about_2" class="btn btn-filled btn-primary th-font medium-sz">ศึกษาเพิ่มเติม <i class="i-after ti-arrow-right"></i></a>
			</div>
		</div>
	</section>
	<hr>

	<!-- Section / Why? -->
	<section id="why" class="border-bottom">
		<div class="container">
			<h2 class="text-center mb-60 th-font extra-sz">ทำไม ลูกค้าถึงใช้บริการเรา</h2>
			<div class="row v-center-items text-center">
				<div class="col-lg-3 col-lg-push-1 col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-1 min-height-280">
						<span class="icon icon-circle icon-primary icon-sm"><i class="ti-bolt"></i></span>
						<h5>Real Experience</h5>
						<p class="mb-0 text-muted th-font mini-medium-sz">จากประสบการณ์ การทำงานของนักพัฒนาเครื่องมือตัวนี้ ในสายงาน Digital Analyst มากว่า 8 ปีทำให้เราตระหนักได้ว่า จุดที่เป็น ทางตัน และข้อจำกัดของ การวิเคราะห์ ข้อมูล ทางด้าน Digital Marketing ก็คือ ความเชี่ยวชาญ ของ นักวิเคราะห์ และ องค์กรเองที่ขาดทรัพยากรณ์ การสนับสนุนตรงจุดนี้</p>
					</div>
					<!-- Icon Box -->
					<div class="feature feature-1 min-height-280">
						<span class="icon icon-circle icon-primary icon-sm"><i class="ti-calendar"></i></span>
						<h5>Fix the Wrongs and Wasted</h5>
						<p class="mb-0 text-muted th-font mini-medium-sz">เท่าที่สัมผัส จากตลาด ดูเหมือนว่า การทำ Web Data Analytics เพื่อให้เกิด Information ที่นำมาวิเคราะห์ ได้จริงๆนั้น ต้องใช้ Data Analyst ที่เชี่ยวชาญ ทางด้านการพัฒนา Model เพื่อให้เกิด การวัดค่า (Measuring) และ ต้องมีทีม Data Scientist และ Data Engineer สามส่วนนี้ ต้องทำงานประสานกับทางทีม Digital Marketing ทั้งส่วน ผู้บริหาร และ ส่วนของ Operations</p>
					</div>
				</div>
				<div class="col-lg-4 col-lg-push-1 col-md-4">
					<img src="assets/img/devices/iphone_single.png" alt="" class="animated" data-animation="bounceInUp">
				</div>
				<div class="col-lg-3 col-lg-push-1 col-md-4">
					<!-- Icon Box -->
					<div class="feature feature-1 min-height-280">
						<span class="icon icon-circle icon-primary icon-sm"><i class="ti-mobile"></i></span>
						<h5>There are Hidden Problems</h5>
						<p class="mb-0 text-muted th-font mini-medium-sz">ปัญหา ที่เกิดขึ้น คือ ไม่มีใครสักคน ที่เข้าใจ ปัญหาภายในของการ สร้างข้อมูล ที่เป็นสื่อการในการใช้งานร่วมกันอย่างมี Effectiveness ส่วนใหญ่ ใช้งานไม่ได้จริง พูดกันละคนความหมาย</p>
					</div>
					<!-- Icon Box -->
					<div class="feature feature-1 min-height-280">
						<span class="icon icon-circle icon-primary icon-sm"><i class="ti-comments"></i></span>
						<h5>Solve the Lack Of Knowledge</h5>
						<p class="mb-0 text-muted th-font mini-medium-sz">ผู้ที่ทำ สายงาน Operation ก็จะไม่เข้าใจ การสร้างข้อมูล เชิง Analytic info. และมักแต่จะ รายงานผล ตัวเลข ที่เป็น Actual Number หรือรายงานตัวเลข แบบหยาบๆ ซึ่ง ไม่ใช่ ข้อมูลที่มีคุณภาพมากพอที่จะนำไปใช้งานเพื่อการตัดสินใจ ของผู้บริหาร</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section / How it works? -->
	<section id="how-it-works" class="bg-primary dark">
		<div class="container">
			<h2 class="text-center mb-60 th-font big-sz">การทำงานของ DIKW Analytic</h2>
			<div class="row workflow-steps text-center">
				<span class="workflow-progress animated"></span>
				<!-- Step -->
				<div class="col-md-3">
					<div class="step pl-20-lg pr-20-lg animated" data-animation-delay="700">
						<span class="icon icon-circle icon-primary"><i class="ti-pie-chart"></i></span>
						<h5>1. Requirement</h5>
						<!-- <p class="text-muted">Nunc lacinia finibus elit, eu auctor ex tincidunt non, elementum vel lobortis ut.</p> -->
					</div>
				</div>
				<!-- Step -->
				<div class="col-md-3">
					<div class="step pl-20-lg pr-20-lg animated" data-animation-delay="2000">
						<span class="icon icon-circle icon-primary"><i class="ti-ruler-pencil"></i></span>
						<h5>2. Test Module</h5>
						<!-- <p class="text-muted">Donec nibh diam, elementum vel lobortis ut, tincidunt ut ex.</p> -->
					</div>
				</div>
				<!-- Step -->
				<div class="col-md-3">
					<div class="step pl-20-lg pr-20-lg animated" data-animation-delay="3300">
						<span class="icon icon-circle icon-primary"><i class="ti-stats-up"></i></span>
						<h5>3. Best Practice</h5>
						<!-- <p class="text-muted">Nunc lacinia finibus elit, eu auctor ex tincidunt non. Donec nibh diam.</p> -->
					</div>
				</div>
				<!-- Step -->
				<div class="col-md-3">
					<div class="step pl-20-lg pr-20-lg animated" data-animation-delay="3300">
						<span class="icon icon-circle icon-primary"><i class="ti-stats-up"></i></span>
						<h5>4. Iterations</h5>
						<!-- <p class="text-muted">Nunc lacinia finibus elit, eu auctor ex tincidunt non. Donec nibh diam.</p> -->
					</div>
				</div>
			</div>
			<div class="mt-50" style="text-align:center">
				<a href="#features" class="btn btn-white btn-filled btn-block btn-centric th-font upper-top-sz">ศึกษาเพิ่มเติม</a>
			</div>
		</div>
	</section>

	<!-- Section / Edge -->
	<!-- <section id="about_2" class="section-image-edge">
		<div class="col-md-6 image">
			<img src="assets/img/photos/app_screen01.jpg" alt="" class="shadow mb-40 animated" data-animation="fadeInLeft">
		</div>
		<div class="container">
			<div class="col-lg-4 col-md-5 col-md-push-7 content">
				<h1 class="text-lg">Lot's of modules!.</h1>
				<p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
				<a href="#" class="btn btn-filled btn-primary"> Download it! <i class="i-after ti-download"></i></a>
			</div>
		</div>
	</section> -->

	<!-- Section / Pricing -->
	<!-- <section id="pricing" class="bg-grey">
		<div class="container">
			<h2 class="text-center mb-60">How much does it cost?</h2>
			<div class="row">
				<div class="col-md-4">

					<div class="price-table price-table-1">
						<div class="head bg-white">
							<h4>Starter</h4>
							<span class="price">฿3,000</span>
						</div>
						<div class="content">
							<ul>
								<li><i class="i-before ti-check text-primary"></i>3 templates per month</li>
								<li><i class="i-before ti-check text-primary"></i>6 months support</li>
								<li><i class="i-before ti-check text-primary"></i>Free Updates</li>
							</ul>
							<a href="#" class="btn btn-filled btn-primary"><i class="i-before ti-shopping-cart"></i> Purchase</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">

					<div class="price-table price-table-1">
						<div class="head bg-primary dark">
							<h4>Standard</h4>
							<span class="price">฿30,000</span>
						</div>
						<div class="content">
							<ul>
								<li><i class="i-before ti-check text-primary"></i>3 templates per month</li>
								<li><i class="i-before ti-check text-primary"></i>6 months support</li>
								<li><i class="i-before ti-check text-primary"></i>Free Updates</li>
							</ul>
							<a href="#" class="btn btn-filled btn-primary"><i class="i-before ti-shopping-cart"></i> Purchase</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">

					<div class="price-table price-table-1">
						<div class="head bg-white">
							<h4>Unlimited</h4>
							<span class="price">฿60,000</span>
						</div>
						<div class="content">
							<ul>
								<li><i class="i-before ti-check text-primary"></i>3 templates per month</li>
								<li><i class="i-before ti-check text-primary"></i>6 months support</li>
								<li><i class="i-before ti-check text-primary"></i>Free Updates</li>
							</ul>
							<a href="#" class="btn btn-filled btn-primary"><i class="i-before ti-shopping-cart"></i> Purchase</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- Section / Subscribe -->
	<section id="subscribe" class="bg-secondary dark">

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-push-2">
					<h2 class="text-center mb-5">Sign up and be updated about our product!</h2>
					<p class="lead text-muted text-center">We will send you a few emails a month - it is worth it!</p>
					<form action="http://suelo.us12.list-manage1.com/subscribe/post-json" id="sign-up-form-2" class="sign-up-form validate-form mt-40" method="POST"
					data-message-error="Opps... Something went wrong - please try again later"
					data-message-success="Yeah! You will recieve a confirmation email soon..."
					>
						<div class="row">
							<div class="col-md-8">
								<input type="hidden" name="u" value="ed47dbfe167d906f2bc46a01b">
	                			<input type="hidden" name="id" value="24ac8a22ad">
								<input type="email"  name="MERGE0" size="25" value="" class="form-control input-2 input-lg" placeholder="Your e-mail..." required>
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-lg btn-filled btn-submit btn-block"><span>Sign Up</span></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</section>

</div>
<!-- Content / End -->

<%= render 'footer' %>

<!-- Modal -->
<!-- <div class="modal fade" id="SebastianKler" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
      		<img src="assets/img/members/member01_big.jpg" alt="">
      		<div class="modal-body p-40">
      			<h3 class="font-secondary mb-0">Palawast Jeam-saard</h3>
      			<span class="text-muted">CEO / Founder</span>
      			<p class="lead mt-20">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      			<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      			<ul class="social-bar">
      				<li>
      					<a href="#"><span class="icon icon-circle icon-xs icon-facebook"><i class="fa fa-facebook"></i></span><span class="text-muted">Follow on</span> Faceboook</a>
      				</li>
      				<li>
      					<a href="#"><span class="icon icon-circle icon-xs icon-twitter"><i class="fa fa-twitter"></i></span><span class="text-muted">Follow on</span> Twitter</a>
      				</li>
      				<li>
      					<a href="#"><span class="icon icon-circle icon-xs icon-google-plus"><i class="fa fa-google-plus"></i></span><span class="text-muted">Follow on</span> Google +</a>
      				</li>
      			</ul>
      		</div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
    </div>
</div> -->
