<!-- Header -->
<header id="header" class="absolute fullwidth light">

	<div id="nav-bar">
		<a class="logo-wrapper" href="">
			<img class="logo logo-dark" src="assets/img/logo-dark.png" alt="Okno">
		</a>

		<nav class="module-group right">
			<div class="module menu left">
				<ul id="nav-primary" class="nav nav-primary">
					<li><a href="#home">Home</a></li>
					<!-- <li><a href="#features">Features</a></li> -->
					<!-- <li><a href="#how-it-works">How does it work?</a></li> -->
					<li><a href="<%= about_path %>">About</a></li>
					<!-- <li><a href="#pricing">Pricing</a></li> -->
					<!-- <li><a href="#subscribe">Subscribe</a></li> -->
				</ul>
			</div>

			<!-- Language Menu -->
			<div class="module language left">
				<ul class="nav nav-primary">
					<li class="has-dropdown">
						<a href="#">Eng</a>
						<ul>
							<li><a href="#">English</a></li>
							<li><a href="#">Thai</a></li>
							<!-- <li><a href="#">Spanish</a></li> -->
						</ul>
					</li>
				</ul>
			</div>

			<!-- Search -->
			<!-- <div class="module search left">
				<span class="trigger" data-toggle="search-bar"><i class="ti-search"></i></span>
			</div> -->
		</nav>

		<!-- Menu Toggle -->
		<div class="menu-toggle">
			<a href="#" data-toggle="mobile-menu" class="mobile-trigger"><span><span></span></span></a>
		</div>

	</div>

	<!-- Notification Bar -->
	<!-- <div id="notification-bar"></div> -->

	<!-- Search Bar -->
	<!-- <div id="search-bar">
		<form id="search-form">
			<input class="search-bar-input" type="text" placeholder="Search...">
			<button class="search-bar-submit"><i class="ti-search"></i></button>
		</form>
		<a href="#" class="search-bar-close" data-toggle="search-bar"><i class="ti-close"></i></a>
	</div> -->

</header>
